* {
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
.z_20 {
  z-index: 20 !important;
}
.z_1000 {
  z-index: 1000;
}
ul li a {
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Audiowide";
}
ul li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.nav_icon {
  min-height: 4px;
  width: 30px;
  background-color: #000000;
  border: 1px solid #1eadb6;
  margin-bottom: 5px;
}
.cross1 {
  position: absolute;
  top: 30px;
  right: 20px;
  min-height: 4px;
  width: 30px;
  background-color: #000000;
  border: 1px solid #1eadb6;
  margin-bottom: 5px;
  transform: rotate(45deg);
}
.cross2 {
  position: absolute;
  top: 30px;
  right: 20px;
  min-height: 4px;
  width: 30px;
  background-color: #000000;
  border: 1px solid #1eadb6;
  margin-bottom: 5px;
  transform: rotate(-45deg);
}
 .circle {
  width: 234px;
  height: 234px;
  background: linear-gradient(137deg, #0ff 0%, #f63409 97.23%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) blur(185px);
  z-index: 0;
}
.transform_y {
  transform: translateY(-160%);
}
.top_circle {
  position: absolute;
}
.bottom_circle {
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.topright_circle {
  position: absolute;
  right: 20%;
  top: 0%;

}
.bottomright_circle {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
.cursor_pointer {
  cursor: pointer;
}
.nav_icons:hover {
  transform: scale(1.3);
}
.translate_y {
  transform: translateY(20%) !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1eadb6;
  border-radius: 50px;
}

.bg_header {
  background: url(../images/webp/headerbg.webp);
  background-size: cover;
}
.min_vh100 {
  min-height: 100vh;
}
.robot {
  position: absolute;
  bottom: -40%;
  right: 12%;
}
.mybtn {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 7px;
  border: 2px solid #1eadb6;
  background: transparent;
  transition: 300ms;
}
.mybtn:hover {
  -webkit-box-shadow: 0px 0px 16px 1px rgba(30, 173, 182, 1);
  -moz-box-shadow: 0px 0px 16px 1px rgb(255, 255, 255);
  box-shadow: 0px 0px 16px 1px rgb(0, 0, 0);
}
.robot {
  position: absolute;
  bottom: 0%;
}
.transition_300 {
  transition: 300ms !important;
}
ul li {
  border: 1px solid white;
  transform: skewX(-30deg) !important;
  transform: skewY(-30deg);
  display: flex;
  margin-right: 13px;
  margin-left: 13px;
}
ul li a {
  transform: skewX(30deg) !important;
}

.bg_team::before {
  content: url(../images/svg/litop.svg);
  position: absolute;
  top: -20%;
  right: -13%;
  opacity: 0%;
  transition: 300ms;
  transform: skewX(30deg);
}
.bg_team::after {
  content: url(../images/svg/li_bottom.svg);
  position: absolute;
  bottom: -30%;
  left: -8%;
  transform: skewX(30deg);
  opacity: 0%;
  transition: 300ms;
}
.bg_about::before {
  content: url(../images/svg/litop.svg);
  position: absolute;
  top: -20%;
  right: -9%;
  opacity: 0%;
  transition: 300ms;
  transform: skewX(30deg);
}
.bg_about::after {
  content: url(../images/svg/li_bottom.svg);
  position: absolute;
  bottom: -30%;
  left: -8%;
  transform: skewX(30deg);
  opacity: 0%;
  transition: 300ms;
}
.bg_crypto::before {
  content: url(../images/svg/litop.svg);
  position: absolute;
  top: -20%;
  right: -6%;
  opacity: 0%;
  transition: 300ms;
  transform: skewX(30deg);
}
.bg_crypto::after {
  content: url(../images/svg/li_bottom.svg);
  position: absolute;
  bottom: -30%;
  left: -4.5%;
  transform: skewX(30deg);
  opacity: 0%;
  transition: 300ms;
}
.bg_lightpaper::before {
  content: url(../images/svg/litop.svg);
  position: absolute;
  top: -20%;
  right: -6%;
  opacity: 0%;
  transition: 300ms;
  transform: skewX(30deg);
}
.bg_lightpaper::after {
  content: url(../images/svg/li_bottom.svg);
  position: absolute;
  bottom: -32%;
  left: -5%;
  transform: skewX(30deg);
  opacity: 0%;
  transition: 300ms;
}
.bg_faq::before {
  content: url(../images/svg/litop.svg);
  position: absolute;
  top: -20%;
  right: -14%;
  opacity: 0%;
  transition: 300ms;
  transform: skewX(30deg);
}
.bg_faq::after {
  content: url(../images/svg/li_bottom.svg);
  position: absolute;
  bottom: -30%;
  left: -10.5%;
  transform: skewX(30deg);
  opacity: 0%;
  transition: 300ms;
}

:hover.bg_faq::before,
:hover.bg_lightpaper::before,
:hover.bg_crypto::before,
:hover.bg_about::before,
:hover.bg_team::before {
  opacity: 100%;
}
:hover.bg_faq::after,
:hover.bg_lightpaper::after,
:hover.bg_crypto::after,
:hover.bg_about::after,
:hover.bg_team::after {
  opacity: 100%;
}
/* -------------- Gameplay------------------ */
.topframe {
  position: absolute;
  top: -2%;
  right: -2%;
}
.bottomframe {
  position: absolute;
  bottom: -2%;
  left: -2%;
}
.rightvec {
  position: absolute;
  top: -2%;
  left: 15%;
}
.leftvec {
  position: absolute;
  bottom: -2%;
  right: 15%;
}
.play {
  transform: translate (-50% -50%);
  position: absolute;
  z-index: 2;
}
.top_corner {
  position: absolute;
  top: -9%;
  left: -2%;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 100px solid rgb(255, 255, 255);
  transform: rotate(45deg);
}
.bottom_corner {
  position: absolute;
  bottom: -9%;
  right: -2%;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 100px solid rgb(255, 255, 255);
  transform: rotate(222deg);
}

.d_none {
  display: none !important;
}
.gameplay::before {
  content: "";
  position: absolute;
  transform: translatex(95%);
  bottom: 20%;
  width: 25%;
  min-height: 2px;
  background-color: #1eadb6;
  transition: 400ms;
}
.gameplay::after {
  content: "";
  position: absolute;
  right: 15%;
  top: -10%;
  transform: translateX(-40%);
  width: 25%;
  min-height: 2px;
  background-color: #1eadb6;
  transition: 400ms;
}
:hover.gameplay::before {
  width: 100%;
  transform: translate(0);
}
:hover.gameplay::after {
  width: 100%;
  transform: translate(0);
  right: 0%;
}
/* ---------bg-wicf--------- */
.bg_wicf {
  background-image: url(../images/png/wicf_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wicf::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -10%;
  width: 30%;
  min-height: 2px;
  background-color: #1eadb6;
  transition: 400ms;
}
:hover.wicf::after {
  width: 50%;
}
.mw_562 {
  max-width: 562px;
}
/* -----------Faq--------------*/
.faq::before {
  content: "";
  position: absolute;
  width: 110%;
  bottom: -10%;
  min-height: 2px;
  background-color: #1eadb6;
}
.border_sky {
  border: 1px solid #1eadb6 !important;
}

.box_shadow {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}
.accordion .accordion-item.show {
  box-shadow: #1eadb6 !important;
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: url(../images/svg/active_button.svg) !important;
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 26px !important;
  height: 13px !important;
  margin-left: auto;
  content: "";
  background-image: none !important;
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-item {
  position: relative;
  border-bottom-right-radius: 33px;
  border-top-left-radius: 33px;
}
.accordion-item:hover {
  -webkit-box-shadow: 0px 0px 16px 1px rgba(30, 173, 182, 1);
  -moz-box-shadow: 0px 0px 16px 1px rgba(30, 173, 182, 1);
  box-shadow: 0px 0px 16px 1px rgba(30, 173, 182, 1);
}
.rounded_bottom {
  border-bottom-right-radius: 33px !important;
  border-top-left-radius: 33px !important;
}
.border_top {
  border-top-left-radius: 33px !important;
}
.accordion-item::before {
  content: url(../images/png/rightbottom.png) !important;
  position: absolute;
  bottom: -9%;
  right: -0.3%;
}

.accordion-item::after {
  content: url(../images/png/lefttop.png) !important;
  position: absolute;
  top: -2%;
  left: -0.3%;
}

.accordion-item.current {
  box-shadow: 2px 2px #1eadb6 !important;
  -webkit-box-shadow: 10px 10px 113px 6px rgba(31, 176, 184, 1) !important;
  -moz-box-shadow: 10px 10px 113px 6px rgba(31, 176, 184, 1) !important;
  box-shadow: 10px 10px 113px 6px rgba(31, 176, 184, 1) !important;
}
/* -------salona-------------- */
.bg_salona {
  background-image: url(../images/png/bg_salona.png);
  background-size: 100% 100%;
  background-color: white;
}
.hover_shadow:hover {
  box-shadow: 2px 2px #1eadb6 !important;
  -webkit-box-shadow: 10px 10px 113px 6px rgba(31, 176, 184, 1) !important;
  -moz-box-shadow: 10px 10px 113px 6px rgba(31, 176, 184, 1) !important;
  box-shadow: 10px 10px 113px 6px rgba(31, 176, 184, 1) !important;
}
/* ----------footer----------- */
.bg_footer {
  background-image: url(../images/webp/footer_bg.webp);
  background-color: white;
  background-size: cover;
}
.stroke_blue:hover path {
  stroke: #1eadb6;
}
.hover_blue:hover path {
  fill: #1eadb6;
  mask: none;
}
.footer_line {
  min-height: 1px;
  width: 100%;
  background-color: white;
  opacity: 60%;
}
.crypto {
  position: relative;
}
.crypto::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -10%;
  width: 30%;
  min-height: 2px;
  background-color: #1eadb6;
  transition: 400ms;
}
:hover.crypto::after {
  width: 70%;
}
.hover_scale:hover {
  transform: scale(0.9) !important;
}
.team {
  position: relative !important;
}
.op_70 {
  opacity: 0.7;
}
.team::after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  min-height: 2px;
  background: #1eadb6;
  width: 100%;
}
.z_400 {
  z-index: 400;
}
@media (max-width: 1400px) {
  .top_corner {
    top: -11%;
  }
  .bottom_corner {
    bottom: -11%;
  }
}
@media (min-width: 1200px) {
  .min-vh-xl-100 {
    height: 100vh;
  }
  .accordion-item {
    padding-right: 50px;
  }
}
@media (max-width: 1200px) {
  .mobile_nav {
    position: absolute;
    min-height: 100vh;
    justify-content: center;
    width: 100%;
    top: 0%;
    z-index: 300 !important;
    background-color: #000000;
    left: -100%;
    transition: 300ms;
  }
  .top_corner {
    top: -13%;
  }
  .bottom_corner {
    bottom: -13%;
    right: -3%;
  }
  .show {
    left: 0%;
  }
  .robot {
    position: absolute !important;
    right: 0%;
    max-width: 500px;
  }
  .w_lg_75 {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .robot {
    position: absolute;
    bottom: 0%;
    right: -4% !important;
  }
  .w_lg_75 {
    width: 50%;
  }
  .top_corner {
    top: -18%;
    left: -3%;
  }
  .bottom_corner {
    bottom: -18%;
    right: -3%;
  }
  .gameplay::before {
    content: "";
    position: absolute;
    transform: translatex(95%);
    bottom: 30%;
    width: 25%;
    min-height: 2px;
    background-color: #1eadb6;
    transition: 400ms;
  }
  .robot {
    position: absolute !important;
    right: 0%;
    max-width: 400px;
  }
  .accordion-item::before {
    content: url(../images/png/rightbottom.png) !important;
    position: absolute;
    bottom: -7%;
    right: -0.3%;
  }
  .circle {
    width: 134px;
    height: 134px;
    background: linear-gradient(137deg, #0ff 0%, #f63409 97.23%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) blur(185px);
    z-index: 0;
  }
}
@media (max-width: 768px) {
  .gameplay::before {
    bottom: 0% !important;
  }
  .top_corner {
    top: -38% !important;
    left: -3%;
  }
  .bottom_corner {
    bottom: -38% !important;
    right: -5%;
  }
}
@media (max-width: 576px) {
  .transform_y {
    transform: translateY(-270%);
  }
  .accordion-item::before {
    content: url(../images/png/rightbottom.png) !important;
    position: absolute;
    bottom: -6%;
    right: -0.3%;
  }
}
@media (max-width: 425px) {
  .w_md_100 {
    width: 100%;
  }
  .mybtn {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 7px;
    border: 2px solid #1eadb6;
    background: transparent;
    transition: 300ms;
  }
}
@media (max-width: 682px) {
  .robot {
    display: none;
  }
}
